* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  background: #61DBFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  margin: auto;
  width: 80%;
  max-width: 960px;
  height: 70%;
}

@media screen and (max-width: 1024px) {
  #root {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  #root {
    height: 90%;
  }
}